fastapi
uvicorn[standard]
pydantic
python-dotenv
websockets
groq
openai
python-multipart
cohere
google-generativeai
sarvamai
langgraph
langchain-core
langchain-chroma
langchain-huggingface
langchain-text-splitters
chromadb
sentence-transformers
pypdf2
pdfplumber
requests
beautifulsoup4
